:root {
    --sidebar-width: 250px;
}

body {
    font-family: sans-serif;
    display: flex;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    position: relative;
}

.sidebar.collapsed {
    width: 0;
    padding: 20px 0;
}

.sidebar-inner {
    overflow: hidden;
    height: 100%;
}

.button-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#toggleSidebar {
    position: absolute;
    top: 50%;
    background: none;
    font-size: 20px;
    background-color: rgba(112, 133, 156, 0.6);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

#toggleSidebar:hover {
    background-color: rgba(75, 120, 168, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

#toggleSidebar:active {
    background-color: rgba(53, 64, 77, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    transform: scale(0.95);
}

#infoPanel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    height: 100%;
}

.chart-container {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoPanel h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.0em;
    color: #333;
}

#infoPanel table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: monospace;
}

#infoPanel th, #infoPanel td {
    text-align: left;
    padding: 8px;
}

#infoPanel tr:nth-child(even) {
    background-color: #e7e7e7;
}

#infoPanel #stopButton {
    display: block;
    margin: auto auto 0;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#infoPanel #stopButton:hover {
    background-color: #c82333;
}

#infoPanel #stopButton.clicked {
    background-color: #6c757d;
    cursor: default;
}
